# Accepted licenses (cargo-about will warn about others)
accepted = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Zlib",
    "bzip2-1.0.6",
    "CC0-1.0",
    "Apache-2.0 WITH LLVM-exception"
]